.joke {
    background-color: rgb(238, 238, 238);
    border-bottom-color: rgb(229, 229, 229);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 334px;
    line-height: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    text-align: center;
    text-size-adjust: 100%;
    width: 547px;
    background:url("../img/bg.jpg") center no-repeat;
    background-size:cover;
}